html {
  font-size: 1em;
}

body {
  font-family: 'baskerville-display-pt', monospace;
  font-style: bold;
  font-weight: 400;

  line-height: 1.45;
}

p {
  margin-top: 2em;
  margin-bottom: 1.3em;
    font-size: 2vmin;
    font-size: 3vmax;
    color: black;
    padding-left: 70px;
    padding-right: 150vmax;
    padding-right: 20vmin;
}

h1, h2 {
  font-family: 'ohno-blazeface', sans-serif;
  font-style: italic;
  font-weight: 100;


}

h1 {
  margin-top: 0;
  font-size: 3vmin;
  font-size: 5vmax;
  padding-top: 10px;
  padding-left: 70px;

  padding-right: 40vmax;
}

h2 {
padding-top: 50px;
font-size: 1vmin;
font-size: 2vmax;
color: #FBCA03;
padding-left: 70px;
padding-right: 200px;}

h3 {
  font-size: 0.5vmin;
  font-size: 1vmax;

  font-family: 'halcom';
  color: black;
  padding-left: 70px;
  padding-right: 200px;}

  h4 {
    font-family: 'ohno-blazeface', sans-serif;
    font-style: italic;
    font-weight: 100;
    color: #FBCA03;
    font-size: 3vmax;
    padding-left: 70px;
    padding-right: 200px;
  padding-bottom: -10em;}

  h5 {
    font-family: 'ohno-blazeface', sans-serif;
    font-style: italic;
    font-weight: 100;
    margin-top: 0;
    font-size: 2vmin;
    font-size: 5vmax;
    padding-top: 10px;
    padding-left: 70px;

    padding-right: 40vmax;
  }






small, .font_small {font-size: 0.707em;}


a {font-size: 2em;
  font-family: 'halcom';
  color: black;
text-align: center;
}

a2 {font-family: 'ohno-blazeface', sans-serif;
    font-style: italic;
    font-size: 1em;
    color: #FBCA03;}

.reference {font-family: 'ohno-blazeface', sans-serif;
  font-style: italic;
  font-size: 1em;
  color: #FBCA03;}
.referencevideo {font-family: 'ohno-blazeface', sans-serif;

    padding-top: 1em;
    font-style: italic;
    font-size: 0.8em;
    color: #BED7FE;}

U{font-family: 'ohno-blazeface', sans-serif;
    font-style: italic;
    font-size: 1em;
    color: #FBCA03;}


.signature{ font-family: 'ohno-blazeface', sans-serif;
font-style: italic;
font-size: 3em;
color: #FBCA03;}

blockquote{
font-family: 'baskerville-display-pt', serif;

font-weight: 700;

font-style: italic;
font-size: 90px;
color: #BED7FE;
padding-left: 70px;
padding-right: 70px;
line-height:80px;}
